---
const response = await fetch(
    'https://dummyjson.com/products/category/smartphones'
);
const data = await response.json();

console.log (data);
---

{
    data.products.map ((prd: any) => (
        <div id="card">
            <img id="image" src={prd.images[0]} height="240px" />

            <div id="info">
                <div class="name">
                    <p>Nombre: {prd.title}</p>
                </div>
                <div class="name">
                    <em>Descripción: {prd.description}</em>
                </div>
            </div>
        </div>
    ))
}

<style>
    #card {
        display: flex;
        flex-direction: row;
        width: 30%;
        padding: 10px;
        margin: 10px;
    }
    .name {
        display: flex;
        flex-direction: row;
        margin-left: 10px;
        border: red 1px solid;
    }
</style>